:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  flex-wrap: wrap;
}

form input, form select {
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

form select {
  width: 100px;
  margin-left: 10px;
}

.form-label {
  margin-right: 10px;
  font-weight: bold;
}

@media (max-width: 600px) {
  form input, form select {
    margin-bottom: 10px;
  }
}

.city-card {
  width: 100%;
  background-color: #f9f9f9;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.city-card h2 {
  margin: 0;
  color: #333;
  font-size: 24px;
}

.city-card p {
  margin: 10px 0 0;
  color: #666;
}

li {
  list-style: none;
}

.city-card-skeleton {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: #495057;
  padding: 5px 10px;
  margin-right: 4px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #e9ecef;
}

.pagination button:disabled {
  color: #adb5bd;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #495057;
  color: #fff;
}
